<!-- <div class="flex justify-center align-center">
    <button class="bg-green-700 p-2 m-2 rounded-sm text-white" (click)="grid()">Grid</button>
    <button class="bg-green-700 p-2 m-2 rounded-sm text-white" (click)="crossTab1()">Cross Tab 1</button>
    <button class="bg-green-700 p-2 m-2 rounded-sm text-white" (click)="crossTab2()">Cross Tab 2</button>
</div>
<div style="height: 100vh; width: 100%;">
    <router-outlet></router-outlet>
</div> -->
<!-- <app-column-chart></app-column-chart> -->
<!-- <app-highchart></app-highchart> -->
<!-- <div  class="bg-green-700 h-full">
    <app-apex></app-apex>
</div> -->

<app-row-transpose>

</app-row-transpose>